h1{
    background-color: lightcyan;
}

ul{
    background-color: lightgrey;
}

em{
    background-color: lightcyan;
}

ol{
    background-color: lightgreen;
}

h3{
    background-color: aquamarine;
}

.inline{
    display: inline;
    width: 800px;
    background-color: yellowgreen;
}

.child{
    display: inline;
    height: 50px;
    width: 350px;
    margin: 5px;
    padding: 3px;
    border: 2px solid lightgoldenrodyellow;
}

.block{
    display: block;
    justify-content: center;
    background-color: azure;
}

.child2{
    height: 50px;
    width: 350px;
    margin: 5px;
    padding: 3px;
    border: 2px solid lightgoldenrodyellow;
    background: linear-gradient(to right, rgb(148, 6, 1), rgb(145,58,82) rgb(212, 100, 3) rgb(102, 45, 12));
}

.inline-block{
    display: inline-block;
    justify-content: center;
    background-color: blueviolet;
}

.child2{
    height: 50px;
    width: 350px;
    margin: 5px;
    padding: 3px;
    border: 2px solid lightgoldenrodyellow;
    background: linear-gradient(to right, rgb(148, 6, 1), rgb(145,58,82) rgb(212, 100, 3) rgb(102, 45, 12));
}

.flex{
    height: 300px;
    background-color: rgb(100,131,100);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.child2{
    height: 50px;
    width: 350px;
    margin: 5px;
    padding: 3px;
    border: 2px solid lightgoldenrodyellow;
    background: linear-gradient(to right, rgb(148, 6, 1), rgb(145,58,82) rgb(212, 100, 3) rgb(102, 45, 12));
}